/*color palette: midnightblue, gainsboro, chartreuse, white*/

.contactContainer {
  display: flex;
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  height: 30%;
  border-radius: 10px;
  background-color: white;
  color: midnightblue;
  text-align: center;
  align-items: center;
}

#contactHeader {
  width: 100%;
  font-size: 1.7vw;
}

#contactInputNameMail {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
}

.contactAllInput {
  width: 40%;
  border-style: solid;
  border-color: chartreuse;
  border-radius: 5px;
  border-width: thin;
  text-align: center;
  font-size: 1vw;
  color: midnightblue;
  background-color: whitesmoke;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#contactTextInput {
  height: 10%;
  min-width: 80%;
  max-width: 80%;
  min-height: 10%;
  margin: auto;
  border-style: solid;
  border-color: chartreuse;
  border-radius: 5px;
  text-align: center;
  font-size: 1vw;
  color: midnightblue;
  background-color: whitesmoke;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#contactButton {
  position: relative;
  width: 86%;
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: midnightblue;
  background-color: whitesmoke;
  border-style: solid;
  border-color: chartreuse;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
}

button#contactButton:hover {
  background-color: midnightblue;
  color: chartreuse;
}
